<% provide(:title, "Seatify") %>
<div class="home_header">
  <div class="container">
    <h1>Lodgewith</h1>
    <!--
    <p>To solve no vacant tables, get a seat soon!
      Currently Seatify works in <span class="area_mark">Roppongi - Akasaka</span> area mainly.</p>
    -->
    <div class="title_logo">
      <%= image_tag "logo.png" %>
    </div>
    <p>LodgewithはYahoo!LODGEで利用者と相席ができる無料のサービスです。
      本サービスは<span class="area_mark">非公式</span>で、Yahoo!Japan及び、LODGE本体とは一切関係ありません。</P>
  </div>
</div>
<!-- /header -->

<div class="container">
  <% if user_signed_in? %>
    <%= link_to new_seat_path do %>
    <div class="btn give_seat">
      <!--
      GIVE A SEAT
      -->
      席を作成する
    </div>
    <% end %>

    <%= link_to current_user do %>
    <div class="btn show_profile">
      <!--
      SHOW PROFILE
      -->
      プロフィールへ
    </div>
    <% end %>
  <% else %>
    <%= link_to new_user_session_path do %>
      <div class="btn become_host">
        <!--
        BECOME HOST
        -->
        ログインへ
      </div>
    <% end %>
  <% end %>

  <div class="find_seat">
    <h1>How it works</h1>
    <div class="find_menu">
      <div class="find_item">
        <!--
        <h2>1. Find a seat</h2>
        <p>All seats are available.</p>
        -->
        <h2>1. 席を探す</h2>
        <p>投稿されている席は相席歓迎の席です。</p>
      </div>
      <div class="find_item">
        <!--
        <h2>2. Request a seat</h2>
        <p>Send SMS to host of a seat.</p>
        -->
        <h2>2. 席を作成する</h2>
        <p>ログイン後、席の詳細情報を入力します。</p>
      </div>
      <div class="find_item">
        <!--
        <h2>3. Get a seat</h2>
        <p>Sharing a table socially.</p>
        -->
        <h2>3. 席に座る</h2>
        <p>席を探して「こんにちは。」と声をかけましょう。</p>
      </div>
    </div>
  </div>
  <!-- /find_seat -->

  <div class="get_seat">
    <h1>Let's get a seat!</h1>

    <div class="contents">
      <div class="contents">
        <%= render @seats %>
      </div>
    </div>
  </div>

</div>
