<div class="item" id="seat-<%= seat.id %>">
  <div class="item_head">
    <div class="icon">
      <% if seat.user.image.blank? %>
        <%= image_tag "user.png" %>
      <% else %>
        <%= image_tag seat.user.image %>
      <% end %>
    </div>
    <ul class="info">
      <li><%= link_to seat.name, seat.url, target: "_blank" %></li>
      <li><%= link_to seat.user.name, seat.user %></li>
    </ul>
  </div>
  <div class="item_body">
    <div class="date list">
      <%= image_tag "date.png" %><%= seat.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
    </div>
    <div class="address list">
      <%= image_tag "place.png" %><%= seat.address %>
    </div>
    <div class="price list">
      Get a seat for <span><%= seat.price %></span>
    </div>
    <div class="amenity list">
      <span class="wifi <%= seat.wifi %>">wifi</span><span class="charge <%= seat.charge %>">電源</span>
    </div>
    <div class="photo">
      <% if seat.image? %>
        <%= image_tag seat.image %>
      <% end %>
    </div>
  </div>
  <div class="item_btn">
    <% if seat.close === true %>
    <div class="btn closed_btn">
      販売終了
    </div>
    <% else %>
    <a href="sms:<%= seat.sms %>">
      <div class="btn request_btn">
        席を予約する
      </div>
    </a>
    <% end %>
    <% if seat.user === current_user %>
    <div class="foot">
      <%= link_to"編集する", edit_seat_path(id: seat.id) %> <%= link_to "削除する", seat, class: "delete", method: :delete, data: { confirm: "You sure?" } %>
    </div>
    <% end %>
  </div>
</div>
