<% provide(:title, "Edit a Seat") %>
<%= render 'layouts/header' %>
<div class="container">
  <div class="register service">
    <div class="service_text">
      <h2>席を編集する</h2>
      <p><span class="required_mark">*</span> は必須項目です。</p>
    </div>

    <%= form_for(@seat) do |f| %>
      <div class="form-group">
        <label>席の名前 <span class="required_mark">*</span></label>
        <% if @last_seat.blank? %>
        <%= f.text_field :name, class: "form-control", autofocus: true, placeholder: "例) Rubyもくもく" %>
        <% else %>
        <%= f.text_field :name, value: @last_seat.name, class: "form-control", autofocus: true, placeholder: "例) Rubyもくもく" %>
        <% end %>
      </div>
      <div class="form-group">
        <label>席の募集時間(いつ頃までいるのか) <span class="required_mark">*</span></label>
        <%= f.select :hour, {"9:00 AM" => "9:00 AM", "9:30 AM" => "9:30 AM", "10:00 AM" => "10:00 AM",
            "10:30 AM" => "10:30 AM", "11:00 AM" => "11:00 AM", "11:30 AM" => "11:30 AM", "12:00 PM" => "12:00 PM",
            "12:30 PM" => "12:30 PM", "13:00 PM" => "13:00 PM", "13:30 PM" => "13:30 PM", "14:00 PM" => "14:00 PM",
            "14:30 PM" => "14:30 PM", "15:00 PM" => "15:00 PM", "15:30 PM" => "15:30 PM", "16:00 PM" => "16:00 PM",
            "16:30 PM" => "16:30 PM", "17:00 PM" => "17:00 PM", "17:30 PM" => "17:30 PM", "18:00 PM" => "18:00 PM",
            "18:30 PM" => "18:30 PM", "19:00 PM" => "19:00 PM", "19:30 PM" => "19:30 PM", "20:00 PM" => "20:00 PM",
            "20:30 PM" => "20:30 PM", "21:00 PM" => "21:00 PM" },
            {}, {class: 'form-control'} %>
      </div>
      <div class="form-group">
        <label>席の位置</label>
        <% if @last_seat.blank? %>
        <%= f.text_field :address, class: "form-control", autofocus: true, placeholder: "例) 受付の前の席" %>
        <% else %>
        <%= f.text_field :address, value: @last_seat.address, class: "form-control", autofocus: true, placeholder: "例) 受付の前の席" %>
        <% end %>
      </div>
      <div class="form-group">
        <label>席の写真 <span class="required_mark">*</span></label>
        <%= f.file_field :image, class: "form-control-file" %>
      </div>
      <div class="form-check">
       <label>席を締め切る</label><br />
       <label class="form-check-label ">
         <%= f.check_box :close, {:checked => false}, :true, :false %>
       </label>
      </div>
      <div class="form-group">
        <label>どんな人と相席したいか</label>
        <%= f.text_area :comment, class: "form-control", rows: 5 %>
      </div>
      <%= f.submit "席を更新する", class: "btn submit" %>
    <% end %>
  </div>
</div>
