<% provide(:title, "Make a Seat") %>
<%= render 'layouts/header' %>
<div class="container">
  <div class="register service">
    <div class="service_text">
      <h2>席を作成する</h2>
      <p><span class="required_mark">*</span> は必須項目です。</p>
    </div>

    <%= form_for(@seat) do |f| %>
      <div class="form-group">
        <label>利用可能なSMS <span class="required_mark">*</span></label>
        <div class="form_sms">ゲストとのやり取りを行なうときに利用します。</div>
        <%= f.text_field :sms, value: current_user.sms, class: "form-control", placeholder: "Enter SMS(Phone Number)" %>
      </div>
      <div class="form-group">
        <label>施設の名前 <span class="required_mark">*</span></label>
        <% if @last_seat.blank? %>
        <%= f.text_field :name, class: "form-control", autofocus: true, placeholder: "Enter place name" %>
        <% else %>
        <%= f.text_field :name, value: @last_seat.name, class: "form-control", autofocus: true, placeholder: "Enter place name" %>
        <% end %>
      </div>
      <div class="form-group">
        <label>席の販売時間</label>
        <%= f.select :hour, {"9:00 AM" => "9:00 AM", "9:30 AM" => "9:30 AM", "10:00 AM" => "10:00 AM",
            "10:30 AM" => "10:30 AM", "11:00 AM" => "11:00 AM", "11:30 AM" => "11:30 AM", "12:00 PM" => "12:00 PM",
            "12:30 PM" => "12:30 PM", "13:00 PM" => "13:00 PM", "13:30 PM" => "13:30 PM", "14:00 PM" => "14:00 PM",
            "14:30 PM" => "14:30 PM", "15:00 PM" => "15:00 PM", "15:30 PM" => "15:30 PM", "16:00 PM" => "16:00 PM",
            "16:30 PM" => "16:30 PM", "17:00 PM" => "17:00 PM", "17:30 PM" => "17:30 PM", "18:00 PM" => "18:00 PM",
            "18:30 PM" => "18:30 PM", "19:00 PM" => "19:00 PM", "19:30 PM" => "19:30 PM", "20:00 PM" => "20:00 PM",
            "20:30 PM" => "20:30 PM", "21:00 PM" => "21:00 PM", "21:30 PM" => "21:30 PM", "22:00 PM" => "22:00 PM",
            "22:30 PM" => "22:30 PM", "23:00 PM" => "23:00 PM", "23:30 PM" => "23:30 PM", "24:00 PM" => "24:00 PM",
            "24:30 PM" => "24:30 PM", "25:00 PM" => "25:00 PM"},
            {}, {class: 'form-control'} %>
      </div>
      <div class="form-group">
        <label>施設のURL、食べログ </label>
        <% if @last_seat.blank? %>
        <%= f.text_field :url, class: "form-control", autofocus: true, placeholder: "Enter tabelog or official URL" %>
        <% else %>
        <%= f.text_field :url, value: @last_seat.url, class: "form-control", autofocus: true, placeholder: "Enter tabelog or official URL" %>
        <% end %>
      </div>
      <div class="form-group">
        <label>施設の住所</label>
        <% if @last_seat.blank? %>
        <%= f.text_field :address, class: "form-control", autofocus: true, placeholder: "Enter place's address" %>
        <% else %>
        <%= f.text_field :address, value: @last_seat.address, class: "form-control", autofocus: true, placeholder: "Enter place's address" %>
        <% end %>
      </div>
      <div class="form-group">
        <label>席の価格（無料でもOKです）</label>
        <% if @last_seat.blank? %>
        <%= f.text_field :price, class: "form-control", autofocus: true, placeholder: "Enter price, FREE is okay:)", vaule: "100yen" %>
        <% else %>
        <%= f.text_field :price, value: @last_seat.price, class: "form-control", autofocus: true, placeholder: "Enter price, FREE is okay:)", vaule: "100yen" %>
        <% end %>
      </div>
      <div class="form-group">
        <label>席の写真</label>
        <%= f.file_field :image, class: "form-control-file" %>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <%= f.check_box :wifi, {:checked => false}, :on, :off %> 利用可能なWiFiがある
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <%= f.check_box :charge, {:checked => false}, :on, :off %> 利用可能な電源がある
        </label>
      </div>
      <%= f.submit "席を販売する", class: "btn submit" %>
    <% end %>
  </div>
</div>
