<% provide(:title, @seat.name + 'by' + @seat.user.name) %>
<%= render 'layouts/header' %>
<div class="container">
  <div class="photo">
    <% if @seat.image? %>
      <%= image_tag @seat.image %>
    <% end %>
  </div>
  <div class="seat_body">
    <div class="seat_title">
      <h2><%= @seat.name %></h2>
    </div>
    <div class="seat_head">
      <ul class="info">
        <li class="date list">
          <% if @seat.close == true %>
          <%= image_tag "closed.png" %><%= @seat.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
          <% else %>
          <%= image_tag "opened.png" %><%= @seat.hour %>まで <span class="opened">募集中</span>
          <% end %>
        </li>
        <li><%= link_to @seat.user.name, @seat.user %>さんがホストです</li>
        <li class="rate_box">
          <span class="rate rate-5 rate_item"></span> <span class="average">5.0</span>
        </li>
      </ul>
      <div class="icon">
        <% if @seat.user.image.blank? %>
          <%= link_to image_tag("user.png"), @seat.user %>
        <% else %>
          <%= link_to @seat.user do %>
            <%= image_tag @seat.user.image %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="seat_line"></div>

    <div class="seat_message seat_box">
      <p><%= image_tag "chat.png" %> <%= @seat.user.name %>さんからのメッセージ</p>
      <div class="message_box">
        <% if @seat.comment.blank? %>
        こんにちは！<%= @seat.user.name %>です！Lodgeで色々な人と交流してみたいと思っています。
        気軽に相席をしに声をかけてくださいね♪
        <% else %>
        <%= @seat.comment %>
        <% end %>
      </div>
    </div>

    <div class="seat_line"></div>

    <div class="seat_amenity seat_box rental">
      <p><%= image_tag "bag.png" %> ホストからレンタルできるもの</p>
      <div class="amenity list">
        <span class="iphone <%= @seat.user.iphone %>">iphone充電器</span><span class="android <%= @seat.user.android %>">Android充電器</span><span class="macbook <%= @seat.user.macbook %>">MacBookPro充電器</span>
      </div>
    </div>

    <div class="seat_line"></div>

    <div class="seat_map seat_box">
      <p><%= image_tag "place.png" %> 席の位置</p>
      <div class="address list">
        <%= @seat.address %>
      </div>
    </div>

    <div class="seat_line"></div>

    <!--
    <div class="seat_review seat_box">
      <p><%= image_tag "review.png" %>件のレビューを見る</p>
      <div class="review">
        <ul class="review_box">
        </ul>
      </div>
    </div>

    <% if user_signed_in? %>
      <%= link_to new_review_path do %>
        <div class="btn review_btn">
          このホストのレビューを書く
        </div>
      <% end %>
    <% else %>
      <%= link_to new_user_session_path do %>
        <div class="btn review_btn">
          この席のレビューを書く
        </div>
      <% end %>
    <% end %>
    -->
    <% if @seat.user === current_user %>
    <div class="foot">
      <%= link_to"編集する", edit_seat_path(id: @seat.id) %> <%= link_to "削除する", @seat, class: "delete", method: :delete, data: { confirm: "You sure?" } %>
    </div>
    <% end %>
  </div>
</div>
