<% provide(:title, "Signup") %>
<%= render 'layouts/header' %>
<div class="container">
  <div class="register service">
    <div class="service_text">
      <h2>会員登録</h2>
      <p>Lodgewithへようこそ！</p>
    </div>

    <div class="social">
      <%= link_to user_facebook_omniauth_authorize_path do %>
        <div class="btn facebook">
          Facebookで登録する
        </div>
      <% end %>
      <%= link_to user_twitter_omniauth_authorize_path do %>
        <div class="btn twitter">
          Twitterで登録する
        </div>
      <% end %>
    </div>

    <div class="or">
      OR
    </div>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="form-group">
      <label>お名前</label>
      <%= f.text_field :name, class: "form-control", autofocus: true, placeholder: "Enter full name" %>
    </div>
      <div class="form-group">
        <label>メールアドレス</label>
        <%= f.email_field :email, class: "form-control", autofocus: true, placeholder: "Enter email" %>
      </div>
      <div class="form-group">
        <label>パスワード</label>
        <%= f.password_field :password, class: "form-control", autocomplete: "off", placeholder: "Enter password" %>
      </div>

      <div class="form-group">
        <label>パスワードの確認</label>
        <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "off", placeholder: "Enter password confirmation" %>
      </div>

      <%= f.submit "SIGN UP", class: "btn submit" %>
    <% end %>
  </div>
</div>
