<% provide(:title, @user.name) %>
<%= render 'layouts/header' %>
<div class="container">
  <div class="profile">
    <div class="image">
      <% if @user.image.blank? %>
        <%= image_tag "user.png" %>
      <% else %>
        <%= image_tag @user.image %>
      <% end %>
    </div>
    <div class="basic_info">
      <h2><%= @user.name %></h2>
      <p><%= @user.occupation %></p>
      <div class="description">
        <%= @user.description %>
      </div>
      <% if @user == current_user %>
        <%= link_to edit_user_registration_path do %>
          <div class="btn edit_btn">
            EDIT PROFILE
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <!-- /profile -->

  <div class="get_seat">
    <h1>Get <%= @user.name %>'s seat!</h1>

    <% if @user.seats.any? %>
    <div class="contents">
      <%= render @seats %>
    </div>
    <% end %>
  </div>
  <!-- /get_seat -->
</div>
<!-- /container -->
