<% provide(:title, @user.name) %>
<%= render 'layouts/header' %>
<div class="container">
  <div class="profile">
    <div class="image">
      <% if @user.image.blank? %>
        <%= image_tag "user.png" %>
      <% else %>
        <%= image_tag @user.image %>
      <% end %>
    </div>
    <div class="basic_info">
      <h2><%= @user.name %></h2>
      <p><%= @user.occupation %></p>
      <div class="description">
        <%= @user.description %>
      </div>
      <% if @user == current_user %>
        <%= link_to edit_user_registration_path do %>
          <div class="btn edit_btn">
            プロフィールを編集する
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <!-- /profile -->

  <div class="get_seat">
    <ul class="tab">
      <li class="select">シート</li>
      <li>レビュー</li>
    </ul>
    <ul class="content">
      <li class="content_item">
        <% if @user.seats.any? %>
        <div class="contents">
          <%= render @seats %>
        </div>
        <% end %>
      </li>
      <li class="hide content_item">
        <ul class="review_box">
          <p>現在開発中です。</p>
        </ul>
      </li>
    </ul>
  </div>
</div>

<script>
$(function() {
	$('.tab li').click(function() {
		var index = $('.tab li').index(this);
		$('.content .content_item').css('display','none');
		$('.content .content_item').eq(index).css('display','block');
		$('.tab li').removeClass('select');
		$(this).addClass('select')
	});
});
</script>
