<% provide(:title, "Signin") %>
<%= render 'layouts/header' %>
<div class="container">
  <div class="register service">
    <div class="service_text">
      <h2>Sign in</h2>
      <p>Seatifyで席を販売しましょう！初めての方は<%= link_to "こちら", new_user_registration_path %>。</p>
    </div>

    <div class="social">
      <a href="#">
        <%= link_to user_facebook_omniauth_authorize_path do %>
          <div class="btn facebook">
            Facebookでログイン
          </div>
        <% end %>
      </a>
      <%= link_to user_twitter_omniauth_authorize_path do %>
        <div class="btn twitter">
          Twitterでログイン
        </div>
      <% end %>
    </div>

    <div class="or">
      OR
    </div>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <label>メールアドレス</label>
        <%= f.email_field :email, class: "form-control", autofocus: true, placeholder: "Enter email" %>
      </div>
      <div class="form-group">
        <label>パスワード</label>
        <%= f.password_field :password, class: "form-control", autocomplete: "off", placeholder: "Enter password" %>
      </div>
      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>
      <%= f.submit "メールアドレスでログイン", class: "btn submit" %>
      <%= link_to "パスワードを忘れてしまった方はこちら", new_password_path(resource_name) %>
    <% end %>
  </div>
</div>
