<% provide(:title, "Login") %>
<%= render 'layouts/header' %>
<div class="container">
  <div class="register service">
    <div class="service_text">
      <h2>Sign in</h2>
      <p>Welcome back to Seatify. When you visit first time, please register <a href="#">here.</p>
    </div>

    <div class="social">
      <a href="#">
        <%= link_to user_facebook_omniauth_authorize_path do %>
          <div class="btn facebook">
            SIGN IN with FACEBOOK
          </div>
        <% end %>
      </a>
      <%= link_to user_twitter_omniauth_authorize_path do %>
        <div class="btn twitter">
          SIGN IN with TWITTER
        </div>
      <% end %>
    </div>

    <div class="or">
      OR
    </div>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, class: "form-control", autofocus: true, placeholder: "Enter email" %>
      </div>
      <div class="form-group">
        <%= f.label :password %><br />
        <%= f.password_field :password, class: "form-control", autocomplete: "off", placeholder: "Enter password" %>
      </div>
      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>
      <%= f.submit "Log in", class: "btn submit" %>
      <%= link_to "Forgot your password?", new_password_path(resource_name) %>
    <% end %>
  </div>
</div>
